* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: linear-gradient(to right, #420069 0%, #d01769 100%);
}

.person {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  padding: 1rem;
  margin: 2rem auto;
  transition: all 0.5 linear;
  border-radius: 0.25rem;
  text-align: center;
  min-width: 30%;
  max-width: 60%;
  max-height: 40%;

}

.person img {
  border-radius: 0.4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  margin-left: 1rem;
  border: 0.1rem solid teal;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}

.person:hover {
  box-shadow: 0px 0px 5px 10px silver;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  color: blue;
}

.container {
  padding: 1rem;
}